.container {
    position: relative;
 margin-left: 90px;
    color: white;
    height: 10px;
    width: 100px;
  }
  
   
   .centered {
    position: absolute;
    top: 500%;
    left: 65%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: xx-large;
  }

  input.blank[type="text"], textarea {
    background-image: linear-gradient(to right, blue , yellow);
 
    color: black;
    border: turquoise;
    font-weight: 800;
  
  }

  .btn {
    background-color: rgb(253, 253, 253);
    border: none;
    color: rgb(5, 5, 5);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    height: 30px;
    width: 50px;
    margin-bottom: 8px;
  }
  
  /* Darker background on mouse-over */
  /* .btn:hover {
    background-color: RoyalBlue;
  } */